@import 'varibalbes';
*{
    // margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body,html{
    width: 100vw;
    height: 100vh;
    background-color: rgb(134, 133, 133);
}
.tableblock{
      margin-top: 100px;
      margin-left: 100px;
      background-color: rgb(255, 255, 255);
      width: 50%;
      
}

.tabletext{
    width: 52%;
    display: inline-block;
    margin-left: 30%;
    margin-bottom: 10px;
    
}
.tableinfo{
    width: 16%;
    display: inline-block;
    margin-left: 30%;
    margin-bottom: 10px;
}
.tablelist{
    display: inline-block;
    margin-left: 31%;
    margin-bottom: 10px;
}
.themeimg{
    width: 100%;
    background-color: rgb(20, 199, 199);
    margin-left: 1px;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
    height: 260px;
    text-align: center;
    margin-bottom: 10px;
    
}
.forImg{
    border: 1px solid rgb(0, 0, 0);
    width: 300px;
    height: 100px;
    background-color: rgb(255, 255, 255);
    display: inline-block;
    
}

p{
    font-size: 20px;
    font-weight: 900;
    color: rgb(255, 255, 255);
}
.tabletext1{
    @include text;
    border-bottom: 1px solid black;
    padding-bottom: 20px;
    text-align: center;
}
.tabletext2{
    @include text;
    border-bottom: none;
    text-align: center;
}
